<ul class="list-group" *ngIf="loaded && logs.length > 0">
  <li *ngFor="let log of logs" [class.list-group-item-secondary]="selectedLog === log" class="list-group-item d-flex justify-content-between align-item-center">
    <a (mouseup)="onSelect(log)" href="#">{{log.text}}</a>
    <span class="log-date">{{log.date | date:'dd/MM/yyyy, h:mm a'}}</span>
    <i (mouseup)="onDelete(log)"class="fa fa-remove"></i>  
  </li>
</ul>

<div *ngIf="loaded && logs.length == 0">
  <h5>No Logs Have Been Made</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading Logs...</h5>
</div>